<HTML>
  <HEAD>
    <TITLE>Captive Portal</TITLE>
    <META http-equiv="refresh" content="0; url=<%= dns_name %>">
    <META name="viewport" content="width=device-width, initial-scale=1">
  </HEAD>
  <BODY>
    <p>Redirecting to Network Setup...</p>
  </BODY>
</HTML>